.card{
    width: 18rem;
}

.botonEliminar{
    display: flex;
    padding-bottom: 45px;
    justify-content: flex-end;
}

.imgItem{
    width: 50%;
}

.carritoTitulo{
    margin: auto;
    background: grey;
    height: 200px;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}